*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//-------------------GENERAL------------------

#container{
    margin: 0 30px;
}

//-------------------MAIN--------------------

h2{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}

#login-container{
    
}