<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
    </header>
    <main>
            <div class="container">
                <div class="login-container">
                        <div id="output"></div>
                        <div><h2 id="message1">{{content}}</h2></div>
                        <div id="message"><a id="login" href="">Login</a></div>
                </div>
            </div>    
    </main>
    <footer>
    </footer>
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <script>
            var baseUrl = document.location.origin;
            $("#login").attr("href", baseUrl);
        </script>
        
    </body>
</html>