<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
              
        <div id="container">
            <header>

            </header>
            <main>

                <h2 id="message">{{content}}</h2>

                <a id="login" href="">Login</a>

            </main>
            <footer>

            </footer>

        </div>
        <script
                src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
                
        <script>
            var baseUrl = document.location.origin;
            $("#login").attr("href", baseUrl);
        </script>
        
    </body>
</html>