<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--       {{content}}-->
        <div id="container">
            <header>

            </header>
            <main>

                <h2>Login</h2>

                <form>
                    <label>Email:</label>
                    <input type="email"></p> 
                <label>Contraseña:</label>
                <input type="password"></p>

            <input type="button" value="Login">
            <a href="">Registrar</a>
            <a href="">Recuperar contraseña</a>
            </form>


        </main>
    <footer>

    </footer>

    </div>
</body>
</html>