<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--       {{content}}-->
        <div id="container">
            <header>

            </header>
            <main>
             <h2>Login</h2>
             
              <div id="login-container">
                 
                 <form>
                    <label>Email:</label>
                    <p><input type="email"></p> 
                    <label>Contraseña:</label>
                    <p><input type="password"></p>

                    <p><input type="submit" value="Login"></p>
                </form>
                  
              </div>
            </main>
            <footer>

            </footer>

        </div>
    </body>
</html>