<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--       {{content}}-->
        <div id="container">
            <header>

            </header>
            <main>

                <h2>Modificar contraseña</h2>
                <span id="message"></span>
                <form>
                    
                    <label>Contraseña:</label>
                    <input type="password" id="pass">
                    <label>Repetir contraseña:</label>
                    <input type="password" id="pass2">

                    <input type="button" value="Confirmar" id="confirmar">
                    
                </form>
                
                

            </main>
            <footer>

            </footer>

        </div>
        <script
                src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="../js/modifyPass.js"></script>
    </body>
</html>