<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
    </header>
    <main>
            <div class="container">
                <div class="login-container">
                        <div id="output"></div>
                        <div><h2>Recuperar contraseña</h2></div>
                        <div class="form-box">
                        
                            <form action="" method="">
                                <input type="text" id="email" placeholder="email">
                                <button class="btn btn-info btn-block login" id="recoverPass" type="submit">Recuperar contraseña</button>
                            </form>
                            <div id="message"></div>
                        </div>
                </div>    
            </div>
    </main>
    <footer>
    </footer>
        <script
                src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="../js/recoverPass.js"></script>
    </body>
</html>